/* Center url bar */

#browser .mainbar {
  height: 47px;
}

#browser .mainbar .toolbar-extensions {
  margin-left: auto;
}

#browser .mainbar .UrlBar-AddressField {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 33%;
}

#browser .mainbar .UrlBar-AddressField .UrlField {
  display: flex;
  justify-content: center;
}

#browser .mainbar .UrlBar-AddressField #urlFieldInput {
  text-align: center;
}

/* Center bookmark bar */

#browser .bookmark-bar {
  height: 29px;
}

#browser .bookmark-bar .observer {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Full-width tabs */

#browser .tabbar-wrapper .resize {
  margin: 0;
  max-width: 100% !important;
}

#browser .tab-strip {
  display: flex;
}

#browser .tab-strip span {
  flex: 1;
}

#browser .tab-strip .tab-position {
  --PositionX: initial !important;
  --Width: initial !important;
  position: relative;
  width: 100%;
}

/* Center tab header */

#browser .tab-strip .tab-header {
  justify-content: center;
  width: 100%;
  padding: 0;
}

#browser .tab-strip .tab-header .favicon {
  flex: initial;
}

#browser .tab-strip .tab-header .title {
  flex: initial;
  mask-image: initial;
}

#browser .tab-strip .tab-header .close {
  position: absolute;
  right: 0;
}

/* Don't hide favicon when audio button is visible */

#browser:not(.alt-tabs)
  #tabs-container
  .tab:not(.pinned, .tab-small).audio-on
  .favicon,
#browser:not(.alt-tabs)
  #tabs-container
  .tab:not(.pinned, .tab-small).audio-muted
  .favicon,
#browser:not(.alt-tabs)
  #tabs-container
  .tab:not(.pinned, .tab-small).tab-captured
  .favicon {
  transform: scale(1);
}

/* Position audio button */

#browser .tab-strip .tab-header .tab-audio {
  position: initial !important;
  flex: initial;
}

/* Remove tab bar spacing */

#browser .toolbar-tabbar-before {
  display: none;
}

#browser .toolbar-tabbar-after {
  display: none;
}

/* Move tab bar below bookmark bar */

#browser .tabbar-wrapper {
  position: fixed;
  top: 76px;
  left: 0px;
  overflow: hidden;
  width: 100%;
  height: 31px;
}

#browser .tabbar-wrapper:has(.tab-strip > span:only-child) {
  height: 0;
}

#browser .inner {
  margin-top: 31px;
}

#browser:has(.tab-strip > span:only-child) .inner {
  margin-top: 0;
}
